{! define "header" !}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ganjapp</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#73c951">
        <meta name="apple-mobile-web-app-title" content="Ganjapp">
        <meta name="application-name" content="Ganjapp">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#73c951">
        <script src="//kit.fontawesome.com/b0ad5b1fd4.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/ganjapp.css">
    </head>
    <body class="no-select">
        <div class="ganjapp-toast-container d-flex justify-content-center align-items-center" aria-live="polite" aria-atomic="true"></div>{! end !}