{! define "navbar" !}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-success">
            <a class="navbar-brand" href="#">
                <img src="/icons/favicon-32x32.png"> Ganjapp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div id="navbarContainer"></div>
                <div class="btn-group ml-auto" role="group" aria-label="Donation Buttons">
                    <button class="btn btn-warning" onclick="copyTextToClipboard('1JMH8DaB1Pb1J3FBNoASka5HXE5fULV7D7', 'Bitcoin address has been copied to the clipboard')" title="Tap / click to copy Bitcoin address"><i class="fab fa-bitcoin"></i></button>
                    <button class="btn btn-warning" onclick="copyTextToClipboard('0x3fAEcc281EECF767b17FE2f21C7E9fAbd5Fa895F', 'Ethereum address has been copied to the clipboard')" title="Tap / click to copy Ethereum address"><i class="fab fa-ethereum"></i></button>
                </div>
            </div>
        </nav>
{! end !}